/* Button */
.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 35px;
  border-radius: 30px;
}

.btn-sm {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 35px;
  border-radius: 30px;
}

.btn-warning {
  background-color: #f9b88e;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border: 0px;
}

.btn-outline-warning {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  border: 2px solid #f9b88e;
}

.btn-info {
  background-color: #cdd6e5;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border: 0px;
}

.btn-info:hover {
  background-color: #5c9bff;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  border: 0px;
}

/* Text */
.barlow {
  font-family: "Barlow", sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.text-super-besar {
  font-size: 60px;
}
.text-besar {
  font-size: 50px;
}
.text-sedang {
  font-size: 30px;
}
.text-normal {
  font-size: 18px;
}
.text-kecil {
  font-size: 14px;
}

/* Warna */
.text-hitam {
  color: black;
}
.text-abu {
  color: #b7b7b7;
}
.text-oren {
  color: #ffac77;
}
.text-biru {
  color: #71a8ff;
}
